body {
  color: #0d2b56;
}

p {
  text-align: left;
  color: #0d2b56;
  font-size: 16px;
  margin-top: 20px;
}

.main-content {
  margin-left: 15%;
  padding: 40px;
}

.accountcreation-wrapper {
  display: flex;
  justify-content: center;
}

.accountcreation-card {
  width: 800px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 30px 40px;
}

.accountcreation-header {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
/* AUTO-FILLED FIELD STYLES */
.autofield {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.autofield label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #333;
}

.auto-value {
  border: 2px solid #dcdcdc;
  background: #fafafa;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 14px;
  color: #444;
  min-height: 38px;
  display: flex;
  align-items: center;
  white-space: pre-wrap;
}

/* Budget Table Section */
.login-credentials {
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff8e1;
  padding: 20px 25px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.logincredentials-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.logincredentials-table th {
  background-color: #ffb300;
  color: white;
  padding: 12px;
  border-radius: 6px 6px 0 0;
  font-weight: 600;
  font-size: 15px;
}

.logincredentials-table td {
  padding: 15px;
  background-color: #fff;
}

.logincredentials-table input {
  width: 90%;
  padding: 8px 10px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s ease;
}

.logincredentials-table input:focus {
  border-color: #ffb300;
  outline: none;
  box-shadow: 0 0 4px rgba(255, 179, 0, 0.5);
}

.copy-btn {
    width: auto;
    background: #ffb400;
    color: white;
    border: none;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}

.copy-btn:hover {
    background-color: #ffc43c;
}

.save-btn {
  width: 100%;
  background: #e74c3c;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.save-btn:hover {
  background: #FFB400;
}
