.admindashboard-container,
.adminproposal-container {
  margin-top: 150px;

  display: flex;
  flex-direction: column;
  position: relative;

  max-width: 100%;
  max-height: calc(100vh - 90px - 40px);

  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;

  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.adminapp-container {
  margin-top: 75px;
  position: relative;
  max-width: 100%;
  max-height: calc(100vh - 90px - 40px);
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.admin-content {
  display: flex;
  gap: 15px;
  align-items: stretch;
  min-height:0;
}

.Proposal-list,
.Application-list {
  min-height:0;
}
.admindashboard-container::-webkit-scrollbar,
.adminapp-container::-webkit-scrollbar,
.adminproposal-container::-webkit-scrollbar  {
  width: 8px;
}

.admindashboard-container::-webkit-scrollbar-thumb,
.adminapp-container::-webkit-scrollbar-thumb,
.adminproposal-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
}

.admindashboard-container::-webkit-scrollbar-track, 
.adminapp-container::-webkit-scrollbar-track,
.adminproposal-container::-webkit-scrollbar-track {
  background: transparent;
}

.admindashboard-container .dashboard-form-box .notification-header{
    padding: 0;
}
.Proposal-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.Proposal-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    gap: 10px;
    overflow-y: auto;
}

.Proposal-box {
    width: 100%;
    max-width: 100%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    padding: 15px;       
}

.Application-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 380px;
    overflow-y: auto;
}

.Application-box {
    width: 100%;
    max-width: 380px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    padding: 15px;  
}

.Proposal-desc-container{
     display: flex;
    flex-direction: column;
    margin-left: 15px;
    min-width: 0;
    flex: 1;
}

.Proposal-desc{
    font-size: 26px;
    font-weight: 800;
    color: #0D1B2A;
}

.Proposal-date{
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.Prop-btn{
  text-decoration: none;
  background-color: #E94E1B;
  color: #fff;
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: 600;
  font-style: semi-bold;
  min-width: 214px;
  height: 50px;
  border: 1px solid #0D1B2A;
  padding-right: 4px;
  margin-right: 20px;
  flex-shrink: 0;
}

.Prop-btn:hover{
    background-color: #ffb400;
}
.Application-list .Proposal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.Application-list .Proposal-desc-container {
    order: 1;
    min-width: 0;
}

.Application-list .Prop-btn {
    order: 2;
    margin-left: 0;
    width: auto;
}
