.projects-container {
  margin-top: 90px;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  max-height: calc(100vh - 90px - 40px);

  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;

  /* Make scrollbar rounded without cutting corners */
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.projects-container::-webkit-scrollbar {
  width: 8px;
}

.projects-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
}

.projects-container::-webkit-scrollbar-track {
  background: transparent;
}

.projects-form-box {
  width: 100%;
  background: transparent;
  border-radius: inherit; 
  padding: 40px 50px;
  box-shadow: none;
  overflow: visible;
}

.projects-container .projects-form-box .project-list{
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
  gap: 15px;
  padding-bottom: 10px;
  padding-left: 0px;
}

.projects-container .projects-form-box .see-more{
    display: none;
}

.projects-container .projects-form-box .YourProject{
    font-weight: 600;
    font-style: Medium;
    font-family: 'Poppins', sans-serif;
    padding-left: 0px;
}

.ProjectDesc{
  color: black;
}

.boldtext{
  color: black;
  font-weight: 700;
}

.beneficiary-table td span.value {
  display: inline-block;
  padding: 10px;               
  font-size: 15px;
  font-family: "Poppins", sans-serif; 
  font-weight: 400;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  text-align: right;
  min-width: 80px;
}

.viewProject-container {
  margin-top: 75px;
  display: block;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  max-height: calc(100vh - 90px - 40px);

  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;

  /* Make scrollbar rounded without cutting corners */
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.viewProject-container::-webkit-scrollbar {
  width: 8px;
}

.viewProject-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
}

.viewProject-container::-webkit-scrollbar-track {
  background: transparent;
}

.viewProject-container .dashboard-form-box .notification-header{
    padding: 0;
}