.projects-container {
  margin-left: 14%;
  margin-top: 90px;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  max-width: 86%;
  max-height: calc(100vh - 90px - 40px);

  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;

  /* Make scrollbar rounded without cutting corners */
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.projects-container::-webkit-scrollbar {
  width: 8px;
}

.projects-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
}

.projects-container::-webkit-scrollbar-track {
  background: transparent;
}

.projects-form-box {
  width: 100%;
  background: transparent;
  border-radius: inherit; 
  padding: 40px 50px;
  box-shadow: none;
  overflow: visible;
}

.projects-container .projects-form-box .project-list{
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
  gap: 15px;
  padding-bottom: 10px;
  padding-left: 0px;
}

.projects-container .projects-form-box .see-more{
    display: none;
}

.projects-container .projects-form-box .YourProject{
    font-weight: 600;
    font-style: Medium;
    font-family: 'Poppins', sans-serif;
    padding-left: 0px;
}