.timeline-group {
  display: flex;
  gap: 10px;
}

.timeline-group input {
  flex: 1;
}

form input[type="number"],
form input[type="date"] {
  width: 100%;
  padding: 10px 12px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: 0.3s ease;
}

.proposal-container {
  margin-left: 11%;
  margin-top: 70px;
  width: 100%;
  max-height: calc(100vh - 90px - 40px);
  padding: 20px;
  border-radius: 12px;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;

  /* Make scrollbar rounded without cutting corners */
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.proposal-container::-webkit-scrollbar {
  width: 8px;
}

.proposal-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
}

.proposal-container::-webkit-scrollbar-track {
  background: transparent;
}

.proposal-form-box {
  width: 100%;
  background: transparent;
  border-radius: inherit; 
  padding: 40px 50px;
  box-shadow: none;
}
