    <!-- Sidebar -->
<aside class="sidebar">
  <ul>
    <li><a href="/Frontend/HTML/dashboard.html"><i class="bi bi-house-door-fill"></i>   Dashboard</a></li>
    <li><a href="/Frontend/HTML/projects.html"><i class="bi bi-kanban-fill"></i>    Projects</a></li>
    <li><a href="/Frontend/HTML/Calendar.html"><i class="bi bi-calendar-fill"></i>   Calendar</a></li>
    <li><a href="/Frontend/HTML/ResourceHub.html"><i class="bi bi-folder-fill"></i>   Resource Hub</a></li>
  </ul>
</aside>