{{#> main}}
<main class="main-content">
    <div class="proposal-container">
        <div class="proposal-form-box">
            <h1 class="dashboard-title">Hi, {{PartnerOrg}}!</h1>
            <div class="notification-header">
                <i class="bi bi-bell-fill"></i>
                <h2 class="Notif">Notifications</h2>
            </div>

            <div class="Green-header">
                <i class="bi bi-chevron-double-down"></i>
                <h2 class="Notif-white">{{nNotif}} new notification!</h2> 
            </div>
            <br/>
            <br/>
            {{>Projectbox Projects=Projects title="Your Projects"}}
            <br/>
            {{>Projectbox Projects=Projects title="Community Projects"}}
            <br/>
            <div class="notification-header">
                <i class="bi bi-wrench"></i>
                <h2 class="Notif">Project Management Tools</h2>
            </div>
            <button type="submit" class="apply-btn">Submit Project Proposal</button>
            <button type="submit" class="apply-btn">Update Impact Tracker</button>
            <button type="submit" class="apply-btn">Generate Progress Report</button>
        </div>
    </div>
</main>
{{/main}}