{{#> main}}
<!-- Main Content -->
  <main class="main-content" class="alert-box">
    <div class="tracker-wrapper">
      <div class="tracker-card">
        <h2 class="tracker-header">Delete Project</h2>

        <!-- Project Dropdown -->
        <div class="form-group">
          <label for="projectSelect">Project</label>
          <select id="projectSelect">
              <option value="">Select Project</option>
              {{#each projects}}
                  <option value="{{this.project_id}}">{{this.project_name}}</option>
              {{/each}}
          </select>
        </div>

        <!-- Delete Project Button -->
        <button id="delete" class="progress-btn" type="button" style="display:none;">
            Delete Project
        </button>
        <script src="../JAVASCRIPT/deleteprojects.js"></script>
{{/main}}