{{#> main}}
    <div class="profileview-container">
        <div class="projects-form-box">
            <h1 class="profile-title">Change Password</h1>
                <form id="changePasswordForm" enctype="multipart/form-data">
                    Old password:&nbsp&nbsp<input type="password" id="oldpass" name="oldpass" placeholder="Old password"required><br><br>
                    New password:<input type="password" id="newpass" name="newpass" placeholder="New password"required>
                <!-- Edit Button -->
                <button type="submit" class="apply-btn">Change Password</button>
                </form>
        </div>
    </div>

    <script src="../JAVASCRIPT/changePassword.js"></script>
{{/main}}
