{{#> main}}
    <div class="profileview-container">
        <div class="projects-form-box">
            <h1 class="profile-title">Change Password</h1>
                <form id="profileForm" enctype="multipart/form-data">
                    Old password:&nbsp&nbsp<input type="password" id="oldpass" name="oldpass" placeholder="Old password"required><br><br>
                    New password:<input type="password" id="oldpass" name="oldpass" placeholder="New password"required>
                <!-- Edit Button -->
                <button type="button" class="apply-btn" onclick="window.location.href='/editprofile'">Change Password</button>
                </form>
        </div>
    </div>
{{/main}}
