{{#> main}}
    <div class="projects-container">
        <div class="projects-form-box">
            <h1 class="dashboard-title">Projects</h1>
            {{>Projectbox Projects=Projects title=Title ButtonName=BtnName }}
        </div>
    </div>
{{/main}}