<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>

  <link rel="stylesheet" href="../CSS/global.css" />
  <link rel="stylesheet" href="../CSS/resourceHub.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />
</head>

<body>
  {{> navbar}}
  <!-- Sidebar -->
  {{> sidebar}}

  <!-- Main Content -->
  <main class="main-content" class="alert-box">
    <div class="hub-wrapper">
      <div class="hub-card">
        <h2 class="hub-header">Resource Hub</h2>

        <!-- BCFI Progress Report v1 -->
        <div class="resource-item">
            <div class="resource-info">
                <h3 class="resource-title">BCFI Progress Report Template</h3>
                <h5 class="resource-subtitle">BCFI Project Progress Report v1_Jan2025.doc</h5>
            </div>
          <a href="../ResourcesHub/BCFI Project Progress Report v1_Jan2025.doc" class="download-link" download>Download</a>
        </div>

        <!-- BCFI List of Beneficiaries -->
        <div class="resource-item">
        <div class="resource-info">
            <h3 class="resource-title">List of Beneficiaries Template</h3>
            <h5 class="resource-subtitle">BCFI_List of Beneficiaries Template_v1_Jun2025.docx</h5>
        </div>
          <a href="../ResourcesHub/BCFI_List of Beneficiaries Template_v1_Jun2025.docx" class="download-link" download>Download</a>
        </div>

        <!-- Community Partner Project Proposal -->
        <div class="resource-item">
        <div class="resource-info">
            <h3 class="resource-title">Community Partner Project Proposal Template</h3>
            <h5 class="resource-subtitle">Community_Partner_Project_Proposal_Template_Jun2022.docx</h5>
        </div>

        <a href="../ResourcesHub/Community_Partner_Project_Proposal_Template_Jun2022.docx" 
            class="download-link" 
            download>
            Download
        </a>
        </div>


        <!-- Request to Use Officials Documents for Funded Projects -->
        <div class="resource-item">
            <div class="resource-info">
                <h3 class="resource-title">Request to Use Official Documents for Funded Projects Template</h3>
                <h5 class="resource-subtitle">Request to Use Official Documents for Funded Project Proposal_Rev001_01Jul2025.docx</h5>
            </div>
          
          <a href="../ResourcesHub/Request to Use Official Documents for Funded Project Proposal_Rev001_01Jul2025.docx" class="download-link" download>Download</a>
        </div>

        <!-- Request to Use Public Solicitation Permit -->
        <div class="resource-item">
            <div class="resource-info">
                <h3 class="resource-title">Request to Use Public Solicitation Permit Template</h3>
                <h5 class="resource-subtitle">Request_to_use_Public_Solicitation_Permit_Rev001_01Jul2025.docx</h5>
            </div>
          
          <a href="../ResourcesHub/Request_to_use_Public_Solicitation_Permit_Rev001_01Jul2025.docx" class="download-link" download>Download</a>
        </div>

        <!-- Scholarship Program (Main Folder) -->
        <div class="resource-item folder" data-folder>
        <div class="folder-header">
            <span class="folder-toggle">▶</span>
            <h3 class="resource-title">Scholarship Program</h3>
        </div>
        </div>

        <!-- Main Subfolder List -->
        <div class="subfolder-list" data-content>
        
        <!-- Subfolder 1 -->
        <div class="subfolder folder" data-folder>
            <div class="folder-header">
            <span class="folder-toggle">▶</span>
            <span>Application Forms</span>
            </div>
        </div>

        <div class="subfolder-list" data-content>
            <!-- Subsub folder -->
            <div class="subfolder folder" data-folder>
                <div class="folder-header">
                    <span class="folder-toggle">▶</span>
                    <span>Notice of Scholarship Award</span>
                </div>
            </div>

            <div class="subfolder-list" data-content>
                <div class="sub-sub-item">
                    <span>John Mark Merry.pdf</span>
                    <a href="../ResourcesHub/Scholarship Program/1 Application Forms/Notice of Scholarship Award/John Mark Merry.pdf" 
                    class="download-link" 
                    download>
                    Download
                    </a>
                </div>
            </div>

            <div class="sub-sub-item">
                <span>BCFI Scholarship Application Form.pdf</span>
                <a href="../ResourcesHub/Scholarship Program/1 Application Forms/BCFI Scholarship Application Form.pdf" 
                class="download-link" 
                download>
                Download
                </a>
            </div>

            <div class="sub-sub-item">
                <span>BCFI-SPF-22-R0_Student Profile_24Nov2022.docx</span>
                <a href="../ResourcesHub/Scholarship Program/1 Application Forms/BCFI-SPF-22-R0_Student Profile_24Nov2022.docx" 
                class="download-link" 
                download>
                Download
                </a>
            </div>

            <div class="sub-sub-item">
                <span>DATA PRIVACY CONSENT FORM v2.docx</span>
                <a href="../ResourcesHub/Scholarship Program/1 Application Forms/DATA PRIVACY CONSENT FORM v2.docx" 
                class="download-link" 
                download>
                Download
                </a>
            </div>

            <div class="sub-sub-item">
                <span>DATA PRIVACY CONSENT FORM.docx</span>
                <a href="../ResourcesHub/Scholarship Program/1 Application Forms/DATA PRIVACY CONSENT FORM.docx" 
                class="download-link" 
                download>
                Download
                </a>
            </div>

            <div class="sub-sub-item">
                <span>DATA PRIVACY CONSENT FORM.pdf</span>
                <a href="../ResourcesHub/Scholarship Program/1 Application Forms/DATA PRIVACY CONSENT FORM.pdf" 
                class="download-link" 
                download>
                Download
                </a>
            </div>

            <div class="sub-sub-item">
                <span>Notice of Scholarship Award.docx</span>
                <a href="../ResourcesHub/Scholarship Program/1 Application Forms/Notice of Scholarship Award.docx" 
                class="download-link" 
                download>
                Download
                </a>
            </div>
        </div>

        <!-- Subfolder 2 -->
        <div class="subfolder folder" data-folder>
            <div class="folder-header">
            <span class="folder-toggle">▶</span>
            <span>Monitoring and Evaluation Forms</span>
            </div>
        </div>

        <div class="subfolder-list" data-content>
            <div class="sub-sub-item">
                <span>BCFI Case Summary_Rev001_17Mar2023.docx</span>
                <a href="../ResourcesHub/Scholarship Program/2 Monitoring and Evaluation Forms/BCFI Case Summary_Rev001_17Mar2023.docx" 
                class="download-link" 
                download>
                Download
                </a>
            </div>
        </div>

        <!-- Subfolder 3 -->
        <div class="subfolder folder" data-folder>
            <div class="folder-header">
            <span class="folder-toggle">▶</span>
            <span>Accounting Forms</span>
            </div>
        </div>

        <div class="subfolder-list" data-content>
            <div class="sub-sub-item">
                <span>SP-A-Form 1 REQUEST FOR SUPPLEMENTARY BUDGET.docx</span>
                <a href="../ResourcesHub/Scholarship Program/3 Accounting Forms/SP-A-Form 1 REQUEST FOR SUPPLEMENTARY BUDGET.docx" 
                class="download-link" 
                download>
                Download
                </a>
            </div>

            <div class="sub-sub-item">
                <span>SP-A-Form 2  LIQUIDATION OF ADVANCES.docx</span>
                <a href="../ResourcesHub/Scholarship Program/3 Accounting Forms/SP-A-Form 2  LIQUIDATION OF ADVANCES.docx" 
                class="download-link" 
                download>
                Download
                </a>
            </div>

            <div class="sub-sub-item">
                <span>SP-A-Form 3 Student Allowance Disbursement Form.docx</span>
                <a href="../ResourcesHub/Scholarship Program/3 Accounting Forms/SP-A-Form 3 Student Allowance Disbursement Form.docx" 
                class="download-link" 
                download>
                Download
                </a>
            </div>

            <div class="sub-sub-item">
                <span>SP-A-Form 3 Student Allowance Disbursement Form.pdf</span>
                <a href="../ResourcesHub/Scholarship Program/3 Accounting Forms/SP-A-Form 3 Student Allowance Disbursement Form.pdf" 
                class="download-link" 
                download>
                Download
                </a>
            </div>

            <div class="sub-sub-item">
                <span>SP-A-Form 4 School_Related Request Form.docx</span>
                <a href="../ResourcesHub/Scholarship Program/3 Accounting Forms/SP-A-Form 4 School_Related Request Form.docx" 
                class="download-link" 
                download>
                Download
                </a>
            </div>

            <div class="sub-sub-item">
                <span>SP-A-Form 4 School_Related Request Form.pdf</span>
                <a href="../ResourcesHub/Scholarship Program/3 Accounting Forms/SP-A-Form 4 School_Related Request Form.pdf" 
                class="download-link" 
                download>
                Download
                </a>
            </div>

            <div class="sub-sub-item">
                <span>SP-A-Form 5 Summaryof Disbursement of Allowance Form.docx</span>
                <a href="../ResourcesHub/Scholarship Program/3 Accounting Forms/SP-A-Form 5 Summaryof Disbursement of Allowance Form.docx" 
                class="download-link" 
                download>
                Download
                </a>
            </div>
        </div>

        <!-- Subfolder 4 -->
        <div class="subfolder folder" data-folder>
            <div class="folder-header">
            <span class="folder-toggle">▶</span>
            <span>Assessment and Recommendation Forms</span>
            </div>
        </div>

        <div class="subfolder-list" data-content>
            <div class="sub-sub-item">
                <span>BCFI_Annual Progress Report_04Sept2024.docx</span>
                <a href="../ResourcesHub/Scholarship Program/4 Assessment and Recommendation Forms/BCFI_Annual Progress Report_04Sept2024.docx" 
                class="download-link" 
                download>
                Download
                </a>
            </div>

            <div class="sub-sub-item">
                <span>BCFI_SP__Termination Report Form_30Jun2022.docx</span>
                <a href="../ResourcesHub/Scholarship Program/4 Assessment and Recommendation Forms/BCFI_SP__Termination Report Form_30Jun2022.docx" 
                class="download-link" 
                download>
                Download
                </a>
            </div>

            <div class="sub-sub-item">
                <span>BCFI_SP_Case-Summary_30Jun2022.docx</span>
                <a href="../ResourcesHub/Scholarship Program/4 Assessment and Recommendation Forms/BCFI_SP_Case-Summary_30Jun2022.docx" 
                class="download-link" 
                download>
                Download
                </a>
            </div>
        </div>
        <div class="sub-sub-item">
            <span>List Scholarship Program Forms.docx</span>
            <a href="../ResourcesHub/Scholarship Program/List Scholarship Program Forms.docx" 
            class="download-link" 
            download>
            Download
            </a>
        </div>
    </div>

    </div>
    </main>


    <script src="../JAVASCRIPT/resourceHub.js"></script>
