<html>    
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/CSS/global.css">
    <link rel="stylesheet" href="/CSS/proposal.css">
    <link rel="stylesheet" href="/CSS/login.css">
    <link rel="stylesheet" href="/CSS/apply.css">
</head>
<body>
    
    {{> navbar}}
    {{> sidebar}}

    {{{body}}}

</body>
</html>